.homeContainer{
  width: 100%;
  
}
.homeContent{
  width: 80%;
  margin:0 auto;
}

.listingContainer{
  width: 100%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  }
