.heroWrapper{
  display: flex;
  align-items: flex-start;
  column-gap: 10%;
  width: 80%;
  margin: 0 auto;
}
.detailsWrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.rowNameFavorite{
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 10%;
}
.heroNameDetails{
  font-size: 2em;
}
.heroDescription{
  padding-bottom: 5%;

}
.heroRow{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5% 0;
}
.comicDetails{
  display: inline-flex;
  align-items: center;
  column-gap: 20px;
}
.movie, .comics{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rating{
  display: flex;
  align-items: center;
  padding: 5% 0;
}
.rating p {
  padding-right: 10px;
}
.colImg{
  width: 60%;
  display: flex;
  justify-content: center;
}
.heroImg{
  width: 100%;
  height: auto;
  max-width: 600px;
}

